*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* GENERAL */
.debug{
 border: 1px solid black;
}
.line{
    height: 3px;
}
/* /GENERAL */

/* COLORS */
/* NAVBAR */
.navbar-dark .navbar-brand {
    color: rgb(255 255 255);
}
.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(255, 255, 255);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.navbar-dark .navbar-toggler {
    border-color: rgb(255 255 255);
}
/* /NAVBAR */
.bg-green{
    background-color: #1abc9c;
}
.green{
    color: #1abc9c;
}
.white{
    color: white;
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: #2c3e50;
}
.blue{
    color: #2c3e50;
}
.greyblue{
    background-color: #3a546d;
}
/* COLORS */
.fa-brands{
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.fa-plus{
    transition: 0.3s;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

/* HOVERS */
.img-wrapper:hover i{
    opacity: 1;
    cursor: pointer;
}

div.col-12 img:hover:hover{
    transition: 0.3s;
    cursor: pointer;
    filter: brightness(60%);
}

